.navigation-bar {
    height: 80px;
    width: 79vw;
    display: flex;
    justify-content: space-between;
    margin: 1vh auto 2vh;
    // background-color: rgba(245, 225, 205, 0.552);

    .logo-container {
        height: 100%;
        display: flex;
        align-items: center;
        // width: 70px;
        padding: 15px;

        h1{
            margin-left: 10px;
            font-size: 1.5rem;
            font-weight: 200;
        }
    }

    .nav-links-container {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .nav-link {
            padding: 10px 15px;
            cursor: pointer;
        }
    }
}

.page-content{
    width: 80vw;
    margin: 0 auto;
}