.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}

.google-g{
        color: #4387F8;
    }
    .google-o1, .google-e{
        color: #ED4435;
    }
    .google-o2{
        color: #FFC605;
    }
    .google-l{
        color: #38B659;
    }